@import "base/index";

@import "layouts/layout_000/index";

@media only screen and (min-width: 420px) {
  @import "layouts/layout_420/index";
}

@media only screen and (min-width: 576px) {
  @import "layouts/layout_576/index";
}

@media only screen and (min-width: 640px) {
  @import "layouts/layout_640/index";
}

@media only screen and (min-width: 768px) {
  @import "layouts/layout_768/index";
}

@media only screen and (min-width: 992px) {
  @import "layouts/layout_992/index";
}

@media only screen and (min-width: 1100px) {
  @import "layouts/layout_1100/index";
}

@media only screen and (min-width: 1200px) {
  @import "layouts/layout_1200/index";
}
@media only screen and (min-width: 1300px) {
  @import "layouts/layout_1300/index";
}

@media only screen and (min-width: 1400px) {
  @import "layouts/layout_1400/index";
}
