@function image($file) {
  @return url($imagesPath + $file);
}

@function font($file) {
  @return url($fontsPath +  $file);
}

@function userfile($file) {
  @return url($usersFilesPath + $file);
}


@function asset($type, $file) {
    @if $type == image  {
        @return  url($imagesPath + $file);
    } @else if $type == font { 
        @return url($fontsPath +  $file);
    } @else if $type ==  userfile {
         @return url($usersFilesPath +  $file);       
    }
}



@function em($target, $current: $baseFontSize) {
  @return ($target / $current) * 1em;
}


@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}


@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&_#{$modifier} {
		@content;
	}
}


@mixin mq($width) {
    @media (min-width: $width) {
      @content;
    }
}


@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin font($f, $s, $w: '') {
  font: #{$w} $s $f;
}