//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap";

// font-size
$baseFontSize: 15px;
$Title576FontSize: 36px;

// line-height
$btnsLineHeight: 45px;
$Title576LineHeight: 46px;

// font-family
$baseFontFamily: "Roboto", sans-serif;

// font-weight
$regularFontWeight: 400;
$mediumFontWeight: 500;
$semiBolderFontWeight: 700;
$bolderFontWeight: 900;

// paddings
$paddingLeft: 1rem;
$paddingRight: 1rem;

// Paths
$i: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$white: #ffffff;
$blue: #007bff;
$semiBlue: #2b70fa;
$red: #ff6b58;
$grey: #505056;
$semiBlack: #0e1133;
